<table>
	<tr>
		<th>Name</th>
		<th>Message</th>
	</tr>
	{{#each model.messages as |message|}}
	<tr>
		<td>{{message.sender_name}}</td>
		<td>{{message.body}}</td>
	</tr>
	{{/each}}
	<div class="panel-body">
    <div class="col-sm-8">
      {{textarea rows="6" value=model.newMessage class="form-control" placeholder="Type a message here..."}}
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success btn-lg"   {{action 'sendMessage' model}}>Send message</button>
    </div>
  </div>
</table> 