<div class="jumbotron">
	<h2>Welcome to a Booking App built on Ember.JS with Firebase</h2>
	<h3>You can sign-up as service provider or as customer.</h3>
	<h4>For demo use:<br>
		login: <strong>1@gmail.com</strong> <br>
		pass:  <strong>123456</strong> - to login as service provider
		<br> <br>
		login: <strong>2@gmail.com</strong> <br> 
		pass: <strong>123456</strong> - to login as customer<br>
		<a href="https://drive.google.com/open?id=0B2P-7-pUVhy8WkM5OTNENHdFRFU">APK file</a> 
	</h4>
	{{#if session.isAuthenticated}}
	{{else}}
	{{#link-to 'sign-in' class='btn btn-primary'}}Sign in{{/link-to}}
	{{#link-to 'sign-up' class='btn btn-success'}}Sign up{{/link-to}}
	{{/if}}
	<h3>If you have an interesting project using Ember.JS or Ruby on Rails, contact me: <strong>buzunkostas@gmail.com</strong></h3>
</div>