<div class="jumbotron">
	<h2>Welcome to a Booking App built on Ember.JS</h2>
	<h3>You can sign-up as service provider or as customer.<br>
	Service providers can:</h3>
	<p>
		-Create new services<br>
		-Accept and reject booking request<br>
		-Answer customers questions via chat<br>
		-See contacts of a customer that booked their service
	</p>
	<h3>Customers can:</h3>
	<p>
		-Filter services<br>
		-Send booking requests<br>
		-Ask service providers questins about services<br>
		-See contacts of a service provider whose service they booked
	</p>
	{{#link-to 'sign-in' class='btn btn-primary btn-lg'}}Sign in{{/link-to}}
	{{#link-to 'sign-up' class='btn btn-success btn-lg'}}Sign up{{/link-to}}
	<h3>If you have an interesting project using Ember.JS or Ruby on Rails, you can contact me: <strong>buzunkostas@gmail.com</strong></h3>
</div>