<nav class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-brand'><a href="/#/services">Booking-App</a> </div>
    <div class='navbar-right'>
    {{#if session.isAuthenticated}}
      <button
        class='btn btn-default navbar-btn'
        {{action (route-action 'invalidateSession')}}
      >
        {{fa-icon 'sign-out'}} Sign Out
      </button>
    {{else}}
      {{#link-to 'sign-in' class='btn btn-primary'}}Sign in{{/link-to}}
      {{#link-to 'sign-up' class='btn btn-success'}}Sign up{{/link-to}}
    {{/if}}
    </div>
  </div>
</nav>
<div class='container'>
{{outlet}}
</div>