<div class='page-header'>
		<h1>Welcome, you are signed in!</h1>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			{{session.currentUser.email}}

		</div>
		<div class='panel-body'>
			<img src='{{session.currentUser.profileImageURL}}' height="100" width="100"/>
		</div>
	</div>	
</div>
<div class="container">
	<h3>Here you can book anything you want (even some beautiful chicks :))</h3>
	<img src='http://www.pipubs.com/wp-content/uploads/2015/01/hot-girl-with-glasses-impress.jpg'/>

	{{outlet}}
	
</div>

