<div class='page-header'>
	<h1>It's going to be the best booking app, but you must be logged in in order to use it</h1>
</div>
<div class='list-group'>
	{{#link-to 'sign-in' class='btn btn-default'}}Sign In{{/link-to}}
	{{#link-to 'sign-up' class='btn btn-success'}}Sign Up{{/link-to}}


</div>