<h2>Notifications</h2>
<table>
  <tr>
    <th>Subject</th>
    <th>Hide notification</th>
  </tr>
	{{#each model as |notification|}}
    {{#unless notification.hidden}}
      <tr>
        <td>{{notification.subject}}{{notification.service}}</td>
        <td><button type="submit" class="btn btn-sm btn-danger" {{action 'hide' notification}}>Hide</button></td>  
    </tr>
    {{/unless}}
	{{/each}}
</table>